<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="CF8F07FE-77DB-4E5A-B80F-06FAA6680A21" Name="WHS" Codepage="1252" Language="2052" Version="1.0.1.0" Manufacturer="RAYZHB" UpgradeCode="5AB2874D-0475-44F2-881E-621EAFB3BE22">
		<?Abbreviation ?>
		<Package Keywords="Installer" Platform="x86" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
		<MajorUpgrade DowngradeErrorMessage="A newer version of WHS is already installed." />
		<MediaTemplate EmbedCab="yes" />
		<Feature Id="ProductFeature" Title="WHS_setup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
		<Icon Id="WINDOWS.ICO" SourceFile="whs.ico" />
		<Property Id="ARPPRODUCTICON" Value="WINDOWS.ICO" />
		<Property Id="WIXUI_INSTALLDIR" Value="WIX_0" />
		<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
		<UI>
			<UIRef Id="WixUI_InstallDir" />
			<Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
		</UI>
		<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="运行 WHS" />
		<Property Id="WixShellExecTarget" Value="[#WIX_1]" />
		<CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" />
	</Product>
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="WIX_3" Name="RAYZHB">
					<Directory Id="WIX_4" Name="WPF">
						<Directory Id="WIX_0" Name="WHS">
							<Directory Id="WIX_5" Name="de" />
							<Directory Id="WIX_6" Name="en" />
							<Directory Id="WIX_7" Name="Html">
								<Directory Id="WIX_8" Name="assets">
									<Directory Id="WIX_9" Name="bootstrap">
										<Directory Id="WIX_10" Name="css" />
										<Directory Id="WIX_19" Name="fonts" />
										<Directory Id="WIX_25" Name="js" />
									</Directory>
								</Directory>
								<Directory Id="WIX_35" Name="vue_rcs">
									<Directory Id="WIX_36" Name="css" />
									<Directory Id="WIX_39" Name="fonts" />
									<Directory Id="WIX_42" Name="img" />
									<Directory Id="WIX_44" Name="js" />
								</Directory>
							</Directory>
							<Directory Id="WIX_53" Name="Plugins">
								<Directory Id="WIX_54" Name="WHS.DEVICE.AUDIO">
									<Directory Id="WIX_55" Name="en" />
									<Directory Id="WIX_57" Name="WAV" />
									<Directory Id="WIX_101" Name="zh-CN" />
								</Directory>
								<Directory Id="WIX_105" Name="WHS.DEVICE.MAPDESIGN">
									<Directory Id="WIX_106" Name="en" />
									<Directory Id="WIX_108" Name="zh-CN" />
								</Directory>
								<Directory Id="WIX_115" Name="WHS.DEVICE.ROBOTNEW">
									<Directory Id="WIX_116" Name="en" />
									<Directory Id="WIX_118" Name="zh-CN" />
								</Directory>
							</Directory>
							<Directory Id="WIX_126" Name="ref" />
							<Directory Id="WIX_127" Name="runtimes">
								<Directory Id="WIX_128" Name="linux">
									<Directory Id="WIX_129" Name="lib">
										<Directory Id="WIX_130" Name="netstandard2.0" />
									</Directory>
								</Directory>
								<Directory Id="WIX_132" Name="linux-arm">
									<Directory Id="WIX_133" Name="native" />
								</Directory>
								<Directory Id="WIX_136" Name="linux-arm64">
									<Directory Id="WIX_137" Name="native" />
								</Directory>
								<Directory Id="WIX_140" Name="linux-armel">
									<Directory Id="WIX_141" Name="native" />
								</Directory>
								<Directory Id="WIX_143" Name="linux-x64">
									<Directory Id="WIX_144" Name="native" />
								</Directory>
								<Directory Id="WIX_147" Name="osx">
									<Directory Id="WIX_148" Name="lib">
										<Directory Id="WIX_149" Name="netstandard2.0" />
									</Directory>
									<Directory Id="WIX_151" Name="native" />
								</Directory>
								<Directory Id="WIX_153" Name="osx-x64">
									<Directory Id="WIX_154" Name="native" />
								</Directory>
								<Directory Id="WIX_156" Name="win">
									<Directory Id="WIX_157" Name="lib">
										<Directory Id="WIX_158" Name="netcoreapp2.0" />
										<Directory Id="WIX_160" Name="netstandard2.0" />
									</Directory>
								</Directory>
								<Directory Id="WIX_162" Name="win-arm">
									<Directory Id="WIX_163" Name="native" />
								</Directory>
								<Directory Id="WIX_165" Name="win-x64">
									<Directory Id="WIX_166" Name="native" />
								</Directory>
								<Directory Id="WIX_168" Name="win-x86">
									<Directory Id="WIX_169" Name="native" />
								</Directory>
							</Directory>
							<Directory Id="WIX_171" Name="zh-CN" />
						</Directory>
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="WHS" />
			</Directory>
			<Directory Id="DesktopFolder" Name="Desktop" />
		</Directory>
	</Fragment>
	<Fragment>
		<ComponentGroup Id="ProductComponents">
			<Component Id="WIX_11" Directory="WIX_10" Guid="09018947-B5C0-49FD-AF1C-82F54702B96E">
				<File Id="WIX_11" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Html\assets\bootstrap\css\bootstrap-responsive.css" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_12" Directory="WIX_10" Guid="2FA5010D-CB72-4A59-9653-379F41E3CEBC">
				<File Id="WIX_12" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Html\assets\bootstrap\css\bootstrap-responsive.min.css" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_13" Directory="WIX_10" Guid="5EC7D9A1-D2ED-4A5F-802A-4BF4F2091317">
				<File Id="WIX_13" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Html\assets\bootstrap\css\bootstrap-theme.css.map" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_14" Directory="WIX_10" Guid="F8CFF806-A90A-424E-9228-A09599E77E6C">
				<File Id="WIX_14" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Html\assets\bootstrap\css\bootstrap-theme.min.css" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_15" Directory="WIX_10" Guid="3AA9B11C-2388-4629-8ACA-1BAA956F33E2">
				<File Id="WIX_15" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Html\assets\bootstrap\css\bootstrap.css" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_16" Directory="WIX_10" Guid="89D2CA7B-499B-4C47-89A0-F656B15BF34B">
				<File Id="WIX_16" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Html\assets\bootstrap\css\bootstrap.css.map" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_17" Directory="WIX_10" Guid="D6CFCA30-7778-4732-8A7C-BD6210170F47">
				<File Id="WIX_17" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Html\assets\bootstrap\css\bootstrap.min.css" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_18" Directory="WIX_10" Guid="5807A7AC-B88A-488E-BF8A-59E653C8F4B4">
				<File Id="WIX_18" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Html\assets\bootstrap\css\theme.css" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_20" Directory="WIX_19" Guid="07ABAE55-D732-4EBA-AFCD-4FAFAB1831D9">
				<File Id="WIX_20" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Html\assets\bootstrap\fonts\glyphicons-halflings-regular.eot" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_21" Directory="WIX_19" Guid="9C115AB7-85A0-4CA4-AF2B-CCF87EF7E86E">
				<File Id="WIX_21" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Html\assets\bootstrap\fonts\glyphicons-halflings-regular.svg" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_22" Directory="WIX_19" Guid="E0B91032-6550-417D-B2DD-B09F6C3495EC">
				<File Id="WIX_22" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Html\assets\bootstrap\fonts\glyphicons-halflings-regular.ttf" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_23" Directory="WIX_19" Guid="111A5D91-6369-446C-9CDF-FF714A85E083">
				<File Id="WIX_23" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Html\assets\bootstrap\fonts\glyphicons-halflings-regular.woff" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_24" Directory="WIX_19" Guid="15CE78C4-03A3-4A3C-A013-A5E4005808B3">
				<File Id="WIX_24" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Html\assets\bootstrap\fonts\glyphicons-halflings-regular.woff2" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_26" Directory="WIX_25" Guid="82964F8F-45BF-4BC4-9C99-15300A73AC15">
				<File Id="WIX_26" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Html\assets\bootstrap\js\bootstrap.js" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_27" Directory="WIX_25" Guid="EF679BA7-6352-4433-93D5-191B34F0F3A0">
				<File Id="WIX_27" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Html\assets\bootstrap\js\bootstrap.min.js" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_28" Directory="WIX_25" Guid="AF050AC4-7F4B-442F-8A52-285C142E908E">
				<File Id="WIX_28" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Html\assets\bootstrap\js\docs.min.js" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_29" Directory="WIX_25" Guid="7B8CD378-911E-45DF-B412-04E7D3099F6A">
				<File Id="WIX_29" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Html\assets\bootstrap\js\ie-emulation-modes-warning.js" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_30" Directory="WIX_25" Guid="CEBAD6F8-FC47-4F62-B224-D32F43BE1CDF">
				<File Id="WIX_30" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Html\assets\bootstrap\js\ie10-viewport-bug-workaround.js" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_31" Directory="WIX_25" Guid="7A329FE3-06D3-4E41-9DDD-924DD9402BCF">
				<File Id="WIX_31" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Html\assets\bootstrap\js\jquery-1.12.4.js" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_32" Directory="WIX_25" Guid="B86C5C3E-355C-4C85-9349-096A23AB348D">
				<File Id="WIX_32" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Html\assets\bootstrap\js\jquery-1.12.4.min.js" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_33" Directory="WIX_25" Guid="97CFABFE-BFAD-4B48-9DB1-98A7BFB8A260">
				<File Id="WIX_33" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Html\assets\bootstrap\js\jquery-migrate-1.2.1.js" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_34" Directory="WIX_25" Guid="D85D85CB-7705-4E68-A5AA-260FFD21D892">
				<File Id="WIX_34" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Html\assets\bootstrap\js\jquery-migrate-1.2.1.min.js" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_37" Directory="WIX_36" Guid="6413BCB2-540E-4D80-B88D-5EDFE627A15A">
				<File Id="WIX_37" Source="E:\ray-projects\仓储硬件服务\WHS-NET6-GIT\WHS\Html\vue_rcs\css\app.5bd2a753.css" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_38" Directory="WIX_36" Guid="D5B40196-0BD9-4DE4-ADAB-4332D2B4158A">
				<File Id="WIX_38" Source="E:\ray-projects\仓储硬件服务\WHS-NET6-GIT\WHS\Html\vue_rcs\css\chunk-vendors.acee6d16.css" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_40" Directory="WIX_39" Guid="F5653EE4-6352-4AAE-AF40-7A093036AC2E">
				<File Id="WIX_40" Source="E:\ray-projects\仓储硬件服务\WHS-NET6-GIT\WHS\Html\vue_rcs\fonts\element-icons.535877f5.woff" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_41" Directory="WIX_39" Guid="CDC22ABC-DD05-4711-8A12-8C36AD10651F">
				<File Id="WIX_41" Source="E:\ray-projects\仓储硬件服务\WHS-NET6-GIT\WHS\Html\vue_rcs\fonts\element-icons.732389de.ttf" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_43" Directory="WIX_42" Guid="45FCCDF2-5C3A-470E-ADAF-D1C0B1CB740C">
				<File Id="WIX_43" Source="E:\ray-projects\仓储硬件服务\WHS-NET6-GIT\WHS\Html\vue_rcs\img\AGV4.18bac90f.png" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_45" Directory="WIX_44" Guid="C4863F4D-5A35-413B-9719-95B7F58F714F">
				<File Id="WIX_45" Source="E:\ray-projects\仓储硬件服务\WHS-NET6-GIT\WHS\Html\vue_rcs\js\app.ad820023.js" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_46" Directory="WIX_44" Guid="BE4E549B-5964-4F6A-971B-8EB732B1A246">
				<File Id="WIX_46" Source="E:\ray-projects\仓储硬件服务\WHS-NET6-GIT\WHS\Html\vue_rcs\js\app.ad820023.js.map" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_47" Directory="WIX_44" Guid="D17845DA-A680-4CF0-8163-C0BD16D9D743">
				<File Id="WIX_47" Source="E:\ray-projects\仓储硬件服务\WHS-NET6-GIT\WHS\Html\vue_rcs\js\chunk-vendors.e6932a35.js" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_48" Directory="WIX_44" Guid="F06CC468-7204-4237-A2A3-CC98CD0CB761">
				<File Id="WIX_48" Source="E:\ray-projects\仓储硬件服务\WHS-NET6-GIT\WHS\Html\vue_rcs\js\chunk-vendors.e6932a35.js.map" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_49" Directory="WIX_35" Guid="942D84C7-E2FB-4D7E-A964-26B1154C6230">
				<File Id="WIX_49" Source="E:\ray-projects\仓储硬件服务\WHS-NET6-GIT\WHS\Html\vue_rcs\favicon.ico" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_50" Directory="WIX_35" Guid="B35FDC47-05E6-4AFD-98B3-9FB34C05BF32">
				<File Id="WIX_50" Source="E:\ray-projects\仓储硬件服务\WHS-NET6-GIT\WHS\Html\vue_rcs\vue_rcs.html" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_51" Directory="WIX_7" Guid="75892279-8D8F-4978-A10C-94B7592E3F37">
				<File Id="WIX_51" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Html\index.html" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_52" Directory="WIX_7" Guid="8F3C135D-5060-4C1E-B513-EBBF929194A5">
				<File Id="WIX_52" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Html\jumbotron-narrow.css" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_56" Directory="WIX_55" Guid="C20BFA89-2E91-4FBC-A053-9DF59FB85392">
				<File Id="WIX_56" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\en\WHS.DEVICE.AUDIO.resources.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_58" Directory="WIX_57" Guid="563428F1-E939-4C3A-B903-1E52D2BF8AB3">
				<File Id="WIX_58" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\0.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_59" Directory="WIX_57" Guid="DF636EC3-958E-421B-8EF8-A3BC2F330B27">
				<File Id="WIX_59" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\1.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_60" Directory="WIX_57" Guid="74BD0A6C-A417-41D6-B6B3-82186DDC7D03">
				<File Id="WIX_60" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\10.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_61" Directory="WIX_57" Guid="FA4DE432-612F-4D3C-8CAE-069EE808B642">
				<File Id="WIX_61" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\11.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_62" Directory="WIX_57" Guid="71CFBCA7-8E1E-4CDE-BEB1-74197288491B">
				<File Id="WIX_62" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\12.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_63" Directory="WIX_57" Guid="83D2FEA8-3603-44E4-A570-A923D4C750DC">
				<File Id="WIX_63" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\13.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_64" Directory="WIX_57" Guid="6D8FF9AB-5BBE-4E26-B105-A64B879DC84C">
				<File Id="WIX_64" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\14.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_65" Directory="WIX_57" Guid="2FBE50C2-17CE-44B9-AA95-E984B3D02FB7">
				<File Id="WIX_65" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\15.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_66" Directory="WIX_57" Guid="4E1E71BE-4450-44E6-8AD5-5C50A6BE40C9">
				<File Id="WIX_66" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\16.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_67" Directory="WIX_57" Guid="50C7A693-BF93-4473-8A1E-1299137A9319">
				<File Id="WIX_67" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\17.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_68" Directory="WIX_57" Guid="7CD5AE92-3782-492F-BE91-AC467F020005">
				<File Id="WIX_68" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\18.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_69" Directory="WIX_57" Guid="461C433F-EDF8-46B6-977A-8A937BE5C745">
				<File Id="WIX_69" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\19.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_70" Directory="WIX_57" Guid="7A7F24AF-163C-4EC3-BB37-879B57E8CE73">
				<File Id="WIX_70" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\2.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_71" Directory="WIX_57" Guid="F902CF36-2E01-4442-AB12-14B3EE0EACF5">
				<File Id="WIX_71" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\20.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_72" Directory="WIX_57" Guid="7E4415DA-ECAA-4456-89A4-BAEFE911D95C">
				<File Id="WIX_72" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\21.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_73" Directory="WIX_57" Guid="E0B33EA6-3587-4920-9BEC-CFD91DA7943A">
				<File Id="WIX_73" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\22.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_74" Directory="WIX_57" Guid="BEB613DC-DE4A-44FB-9ECD-D9DFE0F1A6EC">
				<File Id="WIX_74" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\23.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_75" Directory="WIX_57" Guid="E5A1DE07-D43F-4062-9990-5B6EE07AB013">
				<File Id="WIX_75" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\24.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_76" Directory="WIX_57" Guid="07B8F321-93DC-40D4-A04A-646E8E918E8B">
				<File Id="WIX_76" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\25.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_77" Directory="WIX_57" Guid="BE211454-7F15-4F2C-B4AA-E625DCAC28C7">
				<File Id="WIX_77" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\26.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_78" Directory="WIX_57" Guid="AE987295-4467-418B-8F7C-96C3DE2D6011">
				<File Id="WIX_78" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\27.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_79" Directory="WIX_57" Guid="62E063BC-F3EA-4C78-A920-CEDB28CC4E30">
				<File Id="WIX_79" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\28.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_80" Directory="WIX_57" Guid="4903C9BC-D0F5-483D-A6F3-0B416C62C8F7">
				<File Id="WIX_80" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\29.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_81" Directory="WIX_57" Guid="4125955A-0424-494D-8F39-F0325F4FBC0F">
				<File Id="WIX_81" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\3.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_82" Directory="WIX_57" Guid="EA190E2C-AE41-4F3F-97E7-3C6C13335822">
				<File Id="WIX_82" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\30.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_83" Directory="WIX_57" Guid="2534673C-7F0C-4EFE-913B-098A2858D1D6">
				<File Id="WIX_83" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\31.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_84" Directory="WIX_57" Guid="A98FE9F6-B30D-4726-80A0-4D10AA91ADCB">
				<File Id="WIX_84" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\32.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_85" Directory="WIX_57" Guid="1BE7BE5B-F847-4701-BA98-3A094E95B8C5">
				<File Id="WIX_85" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\33.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_86" Directory="WIX_57" Guid="9170FEE5-15ED-4B25-82EE-567344163BE6">
				<File Id="WIX_86" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\34.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_87" Directory="WIX_57" Guid="8739A83F-34A5-45F8-AEFF-12B948BAE174">
				<File Id="WIX_87" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\35.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_88" Directory="WIX_57" Guid="9238CEFA-FAC7-4300-9614-974CF5587B1A">
				<File Id="WIX_88" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\36.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_89" Directory="WIX_57" Guid="BAA82800-282C-46FA-98E9-BC64F27ECAC8">
				<File Id="WIX_89" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\4.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_90" Directory="WIX_57" Guid="375A3694-7FC7-45F2-A3F4-AFE1ED8EC8D8">
				<File Id="WIX_90" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\5.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_91" Directory="WIX_57" Guid="5BDB4CDE-F7EA-417A-AC1E-D4DB96E5CA3D">
				<File Id="WIX_91" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\6.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_92" Directory="WIX_57" Guid="A9C341E4-A61D-45CE-9EEC-FDD66F150B31">
				<File Id="WIX_92" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\7.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_93" Directory="WIX_57" Guid="A342067C-427B-40BC-92CE-0B7A6E3AC08B">
				<File Id="WIX_93" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\8.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_94" Directory="WIX_57" Guid="C4C37D31-D152-4675-B1BC-90B48D260AFD">
				<File Id="WIX_94" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\9.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_95" Directory="WIX_57" Guid="2FE499BE-5DD7-4EF0-A46B-6BEA58A84DA0">
				<File Id="WIX_95" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\CE.WAV" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_96" Directory="WIX_57" Guid="3A28BE46-D61C-486D-8B5A-A1756CFA11EA">
				<File Id="WIX_96" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\error.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_97" Directory="WIX_57" Guid="33A8BD7D-D9C0-403B-B0B1-080153085D22">
				<File Id="WIX_97" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\Msg.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_98" Directory="WIX_57" Guid="0CE6A3A7-1218-4E8E-82DD-01CE49845BA5">
				<File Id="WIX_98" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\ok.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_99" Directory="WIX_57" Guid="B2D2DA8C-1AC3-4F5A-BB5E-379D7423A91B">
				<File Id="WIX_99" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\ScanErr.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_100" Directory="WIX_57" Guid="E4023A8F-922D-4B04-B77E-C72BE9E722E9">
				<File Id="WIX_100" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WAV\Succes.wav" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_102" Directory="WIX_101" Guid="0CB26F16-D07B-4E2F-86B1-7E8E42983B3A">
				<File Id="WIX_102" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\zh-CN\WHS.DEVICE.AUDIO.resources.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_103" Directory="WIX_54" Guid="1B8C5F5E-590B-471A-9C4B-1D0F29662553">
				<File Id="WIX_103" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\plugin.def" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_104" Directory="WIX_54" Guid="40C036BA-DE7D-44CE-9BC6-5B37ACAD3606">
				<File Id="WIX_104" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.AUDIO\WHS.DEVICE.AUDIO.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_107" Directory="WIX_106" Guid="739C57D8-A97C-468C-BC92-45F7CE8ED38A">
				<File Id="WIX_107" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.MAPDESIGN\en\WHS.DEVICE.MAPDESIGN.resources.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_109" Directory="WIX_108" Guid="17A5E66C-0407-4558-AA5C-B79A0DD592DC">
				<File Id="WIX_109" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.MAPDESIGN\zh-CN\WHS.DEVICE.MAPDESIGN.resources.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_110" Directory="WIX_105" Guid="DF9F59B8-F940-43A2-8A51-2A704FCADC29">
				<File Id="WIX_110" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.MAPDESIGN\plugin.def" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_111" Directory="WIX_105" Guid="12ECD046-9214-45C8-8D50-16DFFEB1A0BD">
				<File Id="WIX_111" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.MAPDESIGN\PropertyTools.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_112" Directory="WIX_105" Guid="60F5A7CF-3A81-45CA-8C32-0B2E24D6CCBB">
				<File Id="WIX_112" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.MAPDESIGN\PropertyTools.Wpf.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_113" Directory="WIX_105" Guid="F3A13742-452D-4271-937F-094F585D7B96">
				<File Id="WIX_113" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.MAPDESIGN\WHS.DEVICE.MAPDESIGN.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_114" Directory="WIX_105" Guid="9EC217B2-521E-4524-AB62-4B931B8AE7D1">
				<File Id="WIX_114" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.MAPDESIGN\WHS.DEVICE.MAPDESIGN.pdb" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_117" Directory="WIX_116" Guid="D6B97822-C6F1-4CC1-8A63-DCEEFA36108A">
				<File Id="WIX_117" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.ROBOTNEW\en\WHS.DEVICE.ROBOTNEW.resources.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_119" Directory="WIX_118" Guid="D7FD17AF-16D3-48D2-BE31-5B2A028D6540">
				<File Id="WIX_119" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.ROBOTNEW\zh-CN\WHS.DEVICE.ROBOTNEW.resources.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_120" Directory="WIX_115" Guid="75D7BD91-62D3-4AA9-B0D6-E6D877C0DAD4">
				<File Id="WIX_120" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.ROBOTNEW\Advanced.Algorithms.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_121" Directory="WIX_115" Guid="0939EF85-0134-460D-8E5B-B1B8B331F155">
				<File Id="WIX_121" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.ROBOTNEW\DijkstraAlgorithm.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_122" Directory="WIX_115" Guid="924FAD1E-FD4C-41D6-8DD5-734B9908EFBB">
				<File Id="WIX_122" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.ROBOTNEW\plugin.def" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_123" Directory="WIX_115" Guid="657B5AFA-F2AA-4C79-B47F-6682CC1583DF">
				<File Id="WIX_123" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.ROBOTNEW\WHS.DEVICE.ROBOTNEW.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_124" Directory="WIX_115" Guid="C52D5C6B-D771-4765-A3C5-571DEE1BC665">
				<File Id="WIX_124" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\WHS.DEVICE.ROBOTNEW\WHS.DEVICE.ROBOTNEW.pdb" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_125" Directory="WIX_53" Guid="BF21B636-314B-4C83-9DF5-06233A4796C7">
				<File Id="WIX_125" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Plugins\Readme.txt" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_131" Directory="WIX_130" Guid="05A70FBC-F9E9-4B41-9EB5-F68D5F639838">
				<File Id="WIX_131" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\runtimes\linux\lib\netstandard2.0\System.IO.Ports.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_134" Directory="WIX_133" Guid="2DE7CE32-3319-4477-B64F-7409FEEC2DDD">
				<File Id="WIX_134" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\runtimes\linux-arm\native\libSystem.IO.Ports.Native.so" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_135" Directory="WIX_133" Guid="D2A39124-4CF8-4390-908E-D7D2405446BD">
				<File Id="WIX_135" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\runtimes\linux-arm\native\libuv.so" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_138" Directory="WIX_137" Guid="8C63B67C-5D0C-4F97-A011-796F4AA402E6">
				<File Id="WIX_138" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\runtimes\linux-arm64\native\libSystem.IO.Ports.Native.so" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_139" Directory="WIX_137" Guid="1760F8B2-A61F-4C05-A4AF-84CEC8C9BDAD">
				<File Id="WIX_139" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\runtimes\linux-arm64\native\libuv.so" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_142" Directory="WIX_141" Guid="3092CB4A-818A-432F-9190-D245A156E6F6">
				<File Id="WIX_142" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\runtimes\linux-armel\native\libuv.so" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_145" Directory="WIX_144" Guid="E3BD2292-AF60-463F-9310-0AE9687E45A7">
				<File Id="WIX_145" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\runtimes\linux-x64\native\libSystem.IO.Ports.Native.so" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_146" Directory="WIX_144" Guid="1AC73685-5D02-4EAD-8966-AA3896EEC87E">
				<File Id="WIX_146" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\runtimes\linux-x64\native\libuv.so" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_150" Directory="WIX_149" Guid="01AF26C4-AA40-4BE1-A4B2-EE43F255F0BD">
				<File Id="WIX_150" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\runtimes\osx\lib\netstandard2.0\System.IO.Ports.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_152" Directory="WIX_151" Guid="FB4A2C52-A3FD-408D-8444-2A31DE45BC46">
				<File Id="WIX_152" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\runtimes\osx\native\libuv.dylib" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_155" Directory="WIX_154" Guid="9996119E-FF09-4EDD-A822-A38FE9091DA7">
				<File Id="WIX_155" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\runtimes\osx-x64\native\libSystem.IO.Ports.Native.dylib" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_159" Directory="WIX_158" Guid="B22BEAF7-1BEF-4E71-AE4D-BAE3AB36A26A">
				<File Id="WIX_159" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\runtimes\win\lib\netcoreapp2.0\System.Management.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_161" Directory="WIX_160" Guid="35868920-A025-436F-97C0-1C05C0C9C8E1">
				<File Id="WIX_161" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\runtimes\win\lib\netstandard2.0\System.IO.Ports.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_164" Directory="WIX_163" Guid="6DAFF53C-D18E-464E-A94E-09BF137F720E">
				<File Id="WIX_164" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\runtimes\win-arm\native\libuv.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_167" Directory="WIX_166" Guid="DAFA047A-0B89-461A-B075-EBCBDC694A98">
				<File Id="WIX_167" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\runtimes\win-x64\native\libuv.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_170" Directory="WIX_169" Guid="9A8533AE-60AB-43C0-AD4F-D879677F9D3E">
				<File Id="WIX_170" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\runtimes\win-x86\native\libuv.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_172" Directory="WIX_171" Guid="3B0B31BA-9FDB-4D99-A7D8-66371418A1A4">
				<File Id="WIX_172" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\zh-CN\WHS.resources.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_173" Directory="WIX_0" Guid="79A9B125-D67B-43A8-8EC0-F6B844C565C4">
				<File Id="WIX_173" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Caliburn.Micro.Core.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_174" Directory="WIX_0" Guid="65BFEBD6-B989-4D3C-B8D4-44299AB78BEC">
				<File Id="WIX_174" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Caliburn.Micro.Platform.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_175" Directory="WIX_0" Guid="508ED482-833E-4F20-98B4-C662A948877D">
				<File Id="WIX_175" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\ControlzEx.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_176" Directory="WIX_0" Guid="9AEE90B1-15FD-4EE7-B3E3-A85BD96CE8D1">
				<File Id="WIX_176" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\DotNetty.Buffers.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_177" Directory="WIX_0" Guid="A35551C6-5AF4-4E6D-9FB5-9CC5A4A90FAD">
				<File Id="WIX_177" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\DotNetty.Codecs.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_178" Directory="WIX_0" Guid="5611F390-4C75-4F7E-AA48-16F8434767EA">
				<File Id="WIX_178" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\DotNetty.Codecs.Http.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_179" Directory="WIX_0" Guid="17BBDB49-ED21-43A7-A74B-8FC9EC690885">
				<File Id="WIX_179" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\DotNetty.Common.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_180" Directory="WIX_0" Guid="8315555D-0711-4341-B7FB-9133A2661FF0">
				<File Id="WIX_180" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\DotNetty.Handlers.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_181" Directory="WIX_0" Guid="3F879D82-1936-4CA7-A41E-BE6E8497EB4D">
				<File Id="WIX_181" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\DotNetty.Transport.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_182" Directory="WIX_0" Guid="99AB30C9-25EC-4EDF-81C1-F8E94D044787">
				<File Id="WIX_182" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\DotNetty.Transport.Libuv.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_183" Directory="WIX_0" Guid="C1E518E4-39F2-4415-9CB8-1D2155F09CE6">
				<File Id="WIX_183" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\MahApps.Metro.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_184" Directory="WIX_0" Guid="D7E3F081-686A-432A-B14E-4669CA4D83ED">
				<File Id="WIX_184" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\MahApps.Metro.IconPacks.Core.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_185" Directory="WIX_0" Guid="37EB9658-D632-410F-8678-C8A8FF9F3122">
				<File Id="WIX_185" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\MahApps.Metro.IconPacks.FontAwesome.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_186" Directory="WIX_0" Guid="79991025-6E46-4194-ADDA-0CC77F110BAC">
				<File Id="WIX_186" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Microsoft.DotNet.PlatformAbstractions.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_187" Directory="WIX_0" Guid="D3CBCF42-10A0-48BA-8B1D-2A223574DAD4">
				<File Id="WIX_187" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Microsoft.Extensions.DependencyInjection.Abstractions.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_188" Directory="WIX_0" Guid="91AB1242-E056-4E00-BDD4-9287859D83E1">
				<File Id="WIX_188" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Microsoft.Extensions.DependencyInjection.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_189" Directory="WIX_0" Guid="B35461FD-90A8-4BC9-97AE-B9B17C78BBAC">
				<File Id="WIX_189" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Microsoft.Extensions.DependencyModel.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_190" Directory="WIX_0" Guid="E1726934-5CD1-49BE-A504-1F6D1BD9E537">
				<File Id="WIX_190" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Microsoft.Extensions.Logging.Abstractions.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_191" Directory="WIX_0" Guid="63C19EE3-75FA-47A7-B6CA-B9610D9251A1">
				<File Id="WIX_191" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Microsoft.Extensions.Logging.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_192" Directory="WIX_0" Guid="F8C26FDD-D72E-4CEE-AF3B-DC1957BF1556">
				<File Id="WIX_192" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Microsoft.Extensions.Options.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_193" Directory="WIX_0" Guid="E75151DD-E3F8-4959-B4FC-2F9F8AB2371A">
				<File Id="WIX_193" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Microsoft.Extensions.Primitives.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_194" Directory="WIX_0" Guid="A7249C89-D418-4202-A7C4-C93A53A50D40">
				<File Id="WIX_194" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Microsoft.Xaml.Behaviors.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_195" Directory="WIX_0" Guid="C91D0C60-C65F-42F1-AA2F-233E41016479">
				<File Id="WIX_195" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Newtonsoft.Json.Bson.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_196" Directory="WIX_0" Guid="631423EF-111E-45B0-9D9F-BA7E7298B6A9">
				<File Id="WIX_196" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Newtonsoft.Json.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_197" Directory="WIX_0" Guid="D548EBCD-C142-4116-81E7-7833CE4486D4">
				<File Id="WIX_197" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\NLog.config" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_198" Directory="WIX_0" Guid="2B5A3F8F-7537-4F3D-9F40-C397537E9094">
				<File Id="WIX_198" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\NLog.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_199" Directory="WIX_0" Guid="67957C3A-6AA4-4E87-BEA5-010F7F5B73B4">
				<File Id="WIX_199" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\Polly.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_200" Directory="WIX_0" Guid="034B76A0-B4FF-434C-A666-8F488CBC6E38">
				<File Id="WIX_200" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\System.IO.Ports.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_201" Directory="WIX_0" Guid="A0A67710-5E74-42E6-8667-58CD5EA4800F">
				<File Id="WIX_201" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\System.Management.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_202" Directory="WIX_0" Guid="0518FB21-AB85-4228-A6DA-D5C4C02A5DA4">
				<File Id="WIX_202" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\System.Net.Http.Formatting.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_203" Directory="WIX_0" Guid="1DED0737-E703-4E61-B3D4-FED4EEC584D8">
				<File Id="WIX_203" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\WHS.deps.json" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_204" Directory="WIX_0" Guid="C5C7EBB3-FEC7-4514-8D21-8F14623BB2C3">
				<File Id="WIX_204" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\WHS.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_205" Directory="WIX_0" Guid="E6ABF865-8308-4D40-9508-ADD9D01F55EC">
				<File Id="WIX_205" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\WHS.dll.config" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_1" Directory="WIX_0" Guid="D2791F1B-E8E4-4540-820D-66BFF3D04F88">
				<File Id="WIX_1" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\WHS.exe" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_206" Directory="WIX_0" Guid="049C5A97-6D40-4098-8E1B-A17A13D0AC7D">
				<File Id="WIX_206" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\WHS.Infrastructure.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_207" Directory="WIX_0" Guid="0B75619E-07CC-4121-B55B-AE3FE8D520CD">
				<File Id="WIX_207" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\WHS.Infrastructure.pdb" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_208" Directory="WIX_0" Guid="3CF9133D-32A3-4A72-887C-B1F6A628B6F1">
				<File Id="WIX_208" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\WHS.pdb" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_209" Directory="WIX_0" Guid="202F4D44-A523-41EC-99AD-C5DCC73A0810">
				<File Id="WIX_209" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\WHS.runtimeconfig.json" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_210" Directory="WIX_0" Guid="0C238FA6-DBD6-43B2-9060-FDA720FFF7AA">
				<File Id="WIX_210" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\WPFLocalizeExtension.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_211" Directory="WIX_0" Guid="A29173F7-2170-45B8-9E84-7DA889089C7F">
				<File Id="WIX_211" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\WPFLocalizeExtension.pdb" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="WIX_212" Directory="WIX_0" Guid="A18FBA5F-214F-4DCF-ADF1-AAECE0750BD6">
				<File Id="WIX_212" Source="E:\ray-projects\仓储硬件服务\WHS-NET5-GIT\bin\Debug\net6.0-windows\XAMLMarkupExtensions.dll" ProcessorArchitecture="x86" KeyPath="yes" />
			</Component>
			<Component Id="ApplicationShortcut" Directory="ApplicationProgramsFolder" Guid="54230A6E-E434-405D-B182-60C0818DAC61">
				<Shortcut Id="ApplicationStartMenuShortcut" Name="WHS" Description="WHS is a dispensing software" Target="[#WIX_1]" WorkingDirectory="APPLICATIONROOTDIRECTORY" />
				<Shortcut Id="UninstallProduct" Name="卸载 WHS" Target="[SystemFolder]msiexec.exe" Arguments="/x [ProductCode]" Description="WHS" />
				<Shortcut Id="DesktopShortcut" Directory="DesktopFolder" Name="WHS" Target="[#WIX_1]" WorkingDirectory="APPLICATIONROOTDIRECTORY" />
				<RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\\WHS" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
